<h1>Editar Comentario</h1>

<%= render 'form' %>

  <div class="actions">
    <%= link_to 'Ver', @comentario, :class =>"btn btn-info" %>
    <%= link_to 'Volver', @comentario.articulo, :class =>"btn btn-warning" %>
  </div>