<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<p>
  <strong>Autor:</strong><em>
  <%= @comentario.Autor %></em>
</p>

<p>
  <strong>Cuerpo:</strong><em>
  <%= @comentario.cuerpo %></em>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p>

  <div class="actions">
    <%= link_to 'Editar', edit_comentario_path(@comentario), :class =>"btn btn-primary" %>
    <%= link_to 'Volver', @comentario.articulo, :class =>"btn btn-warning" %>
  </div>