/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
/*
* {color: #151515;}

form * {color: #090B0B;}

/* form * {text-align: center} */
/*
label {color: #2E2E2E;}

.field {text-align: center;}

.new_comentario { margin-top: 30px;}

.actions {text-align: center;}

.link_to {text-align: center;} 

#princ {text-align: center;}
#princ {color: #0B2161;}

#nart {text-align: center;}
#nart {color: #0E2772;}

th {background-color: #0A1A26;}
th {color: #FAFAFC;}
th:hover {color: #78BEF4;}

tr {background-color: #C7D2F2;}
tr td:nth-child(3) {background-color: #C7D2F2;}
tr td:nth-child(2) {background-color: #A9BCF5}

/*cambia el color de las columnas */ /*
tr td:last-child, tr td:nth-child(5), tr td:nth-child(4) {background-color: #DDE4F7;}
*/