<h1 id="nart">Editar articulo</h1>

<%= render 'form' %>

  <div class="actions">
    <%= link_to 'Ver', @articulo, :class =>"btn btn-info" %>
    <%= link_to 'Volver', articulos_path, :class =>"btn btn-warning" %>
  </div>