<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<h1 id="princ">Listado de Articulos</h1>
<!-- 
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.cuerpo %></td>
        <td><%= articulo.fecha %></td>
        <td><%= link_to 'Ver', articulo %></td>
        <td><%= link_to 'Editar', edit_articulo_path(articulo) %></td>
        <td><%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: '¿Esta usted seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>


<table>
  <thead>
    <tr>
      <th>Titulo </th>
      <th>Cuerpo </th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulos.each do |articulo| %>
      <tr>
        <td><%= articulo.titulo %></td>
        <td><%= articulo.cuerpo %></td>
        <td><%= articulo.fecha %></td>
        <td>
            <div class="actions">
              <%= link_to 'Ver', articulo, :class =>"btn btn-default btn-xs" %>
            </div>
        </td>
        <td>
            <div class="actions">
              <%= link_to 'Editar', edit_articulo_path(articulo), :class =>"btn btn-default btn-xs" %>
            </div>  
        </td>
        <td>
            <div class="actions">
              <%= link_to 'Eliminar', articulo, method: :delete, data: { confirm: '¿Esta usted seguro?' }, :class =>"btn btn-default btn-xs" %>
            </div> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


  <div class="actions">
    <%= link_to 'Nuevo Articulo', new_articulo_path, :class =>"btn btn-success" %>
  </div>
<!-- 
<ul class="media-list">
  <li class="media">A
    <ul>   
      <li class="media"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Trabajo especial de Grado. Propuesta de diseño de una red que permita el acceso a Wifi garatis en los lugares públicos de las parroquias La Candelaria, San Agustin, San Bernanrdino y 23 de Enero del Municipio Libertador</li>
      <li class="media">Trabajo especial de Grado. Propuesta de diseño de una red que permita el acceso a Wifi garatis en los lugares públicos de las parroquias La Candelaria, San Agustin, San Bernanrdino y 23 de Enero del Municipio Libertador</li>
      <li class="media">Trabajo especial de Grado. Propuesta de diseño de una red que permita el acceso a Wifi garatis en los lugares públicos de las parroquias La Candelaria, San Agustin, San Bernanrdino y 23 de Enero del Municipio Libertador</li>
      <li class="media">Trabajo especial de Grado. Propuesta de diseño de una red que permita el acceso a Wifi garatis en los lugares públicos de las parroquias La Candelaria, San Agustin, San Bernanrdino y 23 de Enero del Municipio Libertador</li>
    </ul>
  </li>
  <li class="media">B</li>
  <li class="media">C</li>
  <li class="media">D</li>
</ul>

<div class="container">
     <div class="row">
        <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
          Wifi en los lugares públicos del Municipio Libertador. 
        </div>
         <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
          Presentada por Paola Palencia en Octubre de 2014. 
        </div>
        <div class= "col-lg-4 col-md-6 col-sm-6 col-xs-12">
          Trabajo especial de Grado. Propuesta de diseño de una red que permita el acceso a Wifi garatis en los lugares públicos de las parroquias La Candelaria, San Agustin, San Bernanrdino y 23 de Enero del Municipio Libertador
        </div>
     </div>
</div>
-->