<% unless notice.blank? %>
<div class="alert alert-success" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
<p>
  <strong>Titulo:</strong><em>
  <%= @articulo.titulo %></em>
</p>

<p>
  <strong>Cuerpo:</strong><em>
  <%= @articulo.cuerpo %></em>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

  <div class="actions">
    <%= link_to 'Editar', edit_articulo_path(@articulo), :class =>"btn btn-primary" %>
    <%= link_to 'Volver', articulos_path, :class =>"btn btn-warning" %>
  </div>
<!-- 
<h3 id="tit">Comentarios</h3>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulo.comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.Autor %></td>
        <td><%= comentario.cuerpo %></td>
        <td><%= comentario.fecha %></td>
        <td><%= link_to 'Ver', comentario %></td>
        <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: '¿Desea eliminar el comentario?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
-->

<h3 id="tit">Comentarios</h3>
        <div class="actions">
          <%= link_to 'Nuevo Comentario', new_comentario_path(articulo_id: @articulo.id), :class =>"btn btn-success" %>
        </div>
  <tbody>
    <% @articulo.comentarios.each do |comentario| %>
      <dl>
        <dt><strong><%= comentario.Autor %></strong></dt>
          <dd><%= comentario.cuerpo %></dd>
          <dd>fecha <strong><small><%= comentario.fecha %></small></strong></dd>
            <div class="actions">
              <%= link_to 'Ver', comentario, :class =>"btn btn-info" %>
              <%= link_to 'Editar', edit_comentario_path(comentario), :class =>"btn btn-primary" %>
              <%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: '¿Desea eliminar el comentario?' }, :class =>"btn btn-default" %>
            </div>
          </dl>
    <% end %>
  </tbody>


